<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://popesites.com/wp-content/uploads/2017/06/popesite-logo-red-2-.png" type="image/x-icon"/>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", "https://popesites.com/cdn-js/jb-global-bar.js", 'data-turbolinks-track': 'reload' %>

    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
  </head>

  <script>
    function hideContent() {
        var divOne = document.getElementById('1');
        divOne.style.display = "none";
    }

  </script>

  <body class="<%= yield (:body_class) %>">
  <div class="wrapper">
    <% if flash[:notice] %>
      <div id="1" class="notification is-success global-notification">
        <p class="notice"><span class="right-a"><%= notice %></span><strong><span style="float: right;"><a id="close-box" onclick="hideContent()">[Okay]</a></span></strong></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div id="1" class="notification is-danger global-notification">
      <p class="alert"><%= alert %> <strong><span style="float: right;"><a id="close-box" onclick="hideContent()">[Okay]</a></span></strong></p>
    </div>
    <% end %>

     <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5"><%= Rails.configuration.application_name %></h1>
        <% end  %>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">

              <% if user_signed_in? %>

                <div class="navbar-item has-dropdown is-hoverable">
                  <%= link_to 'Account', edit_user_registration_path, class: "navbar-link account" %>
                  <div class="navbar-dropdown is-right">
                    <%= link_to "My Account", edit_user_registration_path, class:"navbar-item" %>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  </div>
                </div>
              <% else %>
                <p class="control">
                  <%= link_to "Sign In", new_user_session_path, class:"navbar-item button login" %>
                </p>
                <p class="control">
                  <%= link_to "Sign Up", new_user_registration_path, class:"navbar-item button signup"%>
                </p>
              <% end %>

            <p class="control job-post">
              <strong>
              <%= link_to 'POST A JOB', new_job_path, class: "navbar-item button is-primary" %>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <%= yield %>
  </div>

    <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Copyright &copy; 2018 <a href="https://popesites.com/" target="_blank">Popesites, LLC</a>.
        </p>
      </div>
    </div>
  </footer>

  </body>
</html>